<% if @post.errors.any? %>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%# Rails figures our the proper path and method from the @post %>
<%# persisted means saved to database (i.e. has an id)     %>
<%# @post is not persisted --> POST    /posts     %>
<%# @post is persisted     --> PATCH   /posts/:id %>
<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br>
  <%= f.label :location %>
  <%= f.text_field :location %>
  <br>
  <%= f.submit %>
<% end %>
